%head
  %meta{:charset => "UTF-8"}
    %link{:href => "http://fonts.googleapis.com/css?family=codropsicons"}
    %title SPECTACULA
%body
  .hero
    .hero-inner
      .hero-copy
        %h1 Welcome to Spectacula
        %p Murder your friends in glorious gladitorial combat!
      =button_to "Play Now", new_game_path, method: "get"





