%head
  %meta{:charset => "UTF-8"}
    %link{:href => "http://fonts.googleapis.com/css?family=codropsicons"} 
    %title SPECTACULA
%body
  :css
    body {
    background-image: url(http://i62.tinypic.com/f1hbmc.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30% 30%;
    top: 50%
    
    }
    
  

  .circle

    %header
      %h1 SPECTACULA
      %nav
        %a{:href => "/games/new"} ► 
        
      