%head
  %meta{:charset => "UTF-8"}
    %link{:href => "http://fonts.googleapis.com/css?family=codropsicons"}
    %title SPECTACULA
%body
  .hero
    .hero-inner
      %a.hero-logo{:href => ""}
        %img{:alt => "Logo Image", :src => "http://i58.tinypic.com/r9ra84.png"}/
        .hero-copy
          %h1 Short description of Product
          %p A few reasons why this product is worth using, who it's for and why they need it.
        %button Learn More




