%h1= @user.handle

= simple_form_for @user do |f|
  .form-inputs
    =f.input :email
    =f.input :password
    =f.input :password_confirmation
    / =f.input :avatar
    =f.input :bio
  .form-actions
    =f.submit
