// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background : #e9e9e9;
$shadow: 0 0 25px rgba(0, 0, 0, 0.04);
$inset-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);

html, body { height: 100%; }
body {
  background: $background;
   background-image: url('http://i61.tinypic.com/vooljo.png');
   background-position:cover;
  
}

section {
  max-width: 800px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 5%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: $shadow;




  
  header {
    display: flex;
    padding: 30px;
    height:100px;
    background-image: url('https://33.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_no9lu5kMuv1u7gnm9o1_500.gif');
    background-position:cover;
    border-radius: 10px 10px 0 0;
  }
}

.profile-image {
  display: block;
  float: center;
  width: 140px;
  height: 140px;
  margin-right: 30px;
  border-radius: 90px;
  vertical-align: top;
  box-shadow: $inset-shadow;
  background-size: cover;
  background-position: left;
  transition: box-shadow .8s;
  
  &:hover {
    box-shadow: inset 0 0 25px rgba(0,0,0,0);
  }
}

h1 {
  font-size: 35px;
  line-height: 60px;
  font-weight: 300;
}
h2 {
  font-size: 16px;
  line-height: 25px;
}

.profile-info {
  padding-top: 20px;
  flex: 1;
}

section {
}

// .stats {
//   background: #F3F3F3;
//   border-width: 2px 0;
//   padding: 15px 30px;
  
//   h1 {
//     display: inline-block;
//     font-size: 20px;
//     line-height: 50px;
//     padding-right: 15px;
    
//   }

//   div {
//     display: inline-block;
//     vertical-align: top;
//     margin: 0 5px;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     background: rgba(0,0,0,.3);
//     cursor: pointer;
//     background-image: url();
//     box-shadow: $shadow;
//     animation: 
//       roll 
//       1s 
//       ease-out
//       both;
    
//     @for $i from 1 through 10 {
//       $random : random(44);
//       $pos : $random * 50px;

//       &:nth-child(#{$i}) {
//         background-position: $pos 0;
//         animation-delay: $i * .085s;
//       }
//     }
//   }
// }

// @keyframes roll {
//   from {
//     transform: 
//       translate3d(180px,0,0) 
//       rotate(135deg);
//     opacity: 0;
//   }
// }


// Font
@font-face {
  font-family: 'museo-sans-rounded';
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-300-webfont.eot');
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-300-webfont.woff') format('woff'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-300-webfont.ttf') format('truetype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-300-webfont.svg#museo_sans_rounded300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'museo-sans-rounded';
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.eot');
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.woff') format('woff'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.ttf') format('truetype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.svg#museo_sans_rounded500') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'museo-sans-rounded';
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.eot');
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.woff') format('woff'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.ttf') format('truetype'), 
     url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.svg#museo_sans_rounded700') format('svg');
  font-weight: 700;
  font-style: normal;
}