%header#js_header.page-header SPECTACULA HEADER HERE


%header

%main

%section.first
  .content
    .page-title RULES
    %p 
    <BR>
       
    %figure
      %ul
        %li 
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
          I am testing a paragraph. This is a test for a paragraph.
        %li 
          <iframe width="300" height="315" src="https://www.youtube.com/embed/X1UmHfWCw-4" frameborder="0" allowfullscreen></iframe>
        %li TEST
    
    
%section.second
  .content
    %p 
    
    %figure
      %ul
        %li TEST
        %li TEST
        %li TEST


%footer