%main

%section.first
  .content

    .page-title RULES
    %p 
    <BR>
       
    %figure
      %ul
        %li 
          %img(src="http://i60.tinypic.com/2ds0aa.png")
        %li 
          %img(src="http://i62.tinypic.com/rsspoj.png")
        %li 
          %img(src="http://i57.tinypic.com/rm6xk8.png")
    
    
%section.second



%footer