
%h1 The Rules

%ul.bullets
  %li.bullet
    .bullet-icon.bullet-icon-1
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png\n"}
    .bullet-content
      %h2 Objective:
      %p Battle your friends in the arena. The last player standing wins!

  %li.bullet
    .bullet-icon.bullet-icon-2
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png"}
    .bullet-content
      %h2 Movement
      %p Each round players plan a series of four moves, which can be either moving their player or firing a ranged attack. These moves are then carried out in order. Plan wisely!

  %li.bullet
    .bullet-icon.bullet-icon-3
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}
    .bullet-content
      %h2 Damage
      %p Each player has 5 hit points, and attacks do one Damage.